@font-face {
  font-family: 'SMBNES';
  src: url('../smb-nes.ttf') format('truetype');
}

.screen-wrapper {
  font-family: 'SMBNES';
}

#screen {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: none;
  font-smoothing: none;

  width: 512px;
  height: 480px;
  display: block;
  margin: 0 auto;
}

.table-header {
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 15px;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
}

table tr td {
  padding: 0 6px;
  text-align: right;
}

table tr td:first-child {
  border-right: 1px solid black;
  padding-left: 0;
  text-align: left;
}

table tr th:first-child {
  border-right: 1px solid black;
}
